@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&family=Poppins:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display+SC&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
$color-cam: #fc846b;
$color-white: #fff;
$color-black: rgb(0, 0, 0);
$font-playfair: "Playfair Display", serif;
$font-playfair-noSan: "Playfair Display";
$font-pop: "Poppins", sans-serif;
$font-pop-noSan: "Poppins";
$font-roboto: "Roboto", sans-serif;
$font-playupdate: "Playfair Display SC", serif;

* {
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
li {
    list-style: none;
}
.btn {
    display: inline-block;
    outline: 0;
    border: 0;
    padding: 12px 50px;
    background-color: #373737;
    color: #fc846b;
    text-align: center;
    text-transform: uppercase;
    font-family: $font-pop-noSan;
    font-weight: bold;
    cursor: pointer;
}
.btn-rouded {
    border-radius: 60px;
}
.btn-shopnow {
    width: 220px;
    height: 55px;
    font-size: 20px;
    margin-top: 20px;
    transition: transform 0.5s;
}
.btn-shopnow:hover {
    background-color: #fc846b;
    color: white;
    // -ms-transform: scale(1.5); /* IE 9 */
    // -webkit-transform: scale(1.2); /* Safari 3-8 */
    transform: scale(1.2);
}
hr {
    width: 90px;
    border: 1px solid #fc846b;
    background-color: #fc846b;
}
body {
    position: relative;
}

/* Begin Wrapper*/
.wrapper {
    width: 100%;
    
    .header {
        position: relative;
        width: 100%;
        // padding : 18px 0;

        .header__nav {
            display: flex;
            width: 90%;
            justify-content: space-between;
            margin: 0 auto;
            padding: 20px 0;

            .header__left {
                display: flex;
                width: 800px;
                .header__left--logo {
                    width: 150px;
                    cursor: pointer;
                    img {
                        width: 150px;
                    }
                }
                .header__left--menu {
                    width: 450px;
                    margin-left: 50px;
                    ul.menu-list {
                        width: 450px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        .active {
                            color: #fc846b;
                            transform: 0.5s;
                        }
                        .menu-item {
                            display: inline;
                            padding: 18px 25px;
                            cursor: pointer;
                            position: relative;
                            font-size: 16px;
                            font-family: $font-pop;
                            & > a {
                                font-size: 18px;
                                color: #2e2e2e;
                                font-weight: bold;
                                font-family: $font-pop;
                                &:hover{
                                    color: #fc846b;
                                    text-decoration: none;
                                    transition:all color 0.2s;
                                }
                                
                            }
                        }
                        .dropdown{
                            // position: relative;    
/*                             &:focus + .sub-menu {

                            } */
                            &:hover > .sub-menu{
                                opacity: 1;
                                pointer-events: all;
                                transform: translateY(10px);
                            }
                            &>.sub-menu{
                                width: 210px;
                                position: absolute;
                                background-color: #ebebeb;
                                border-radius: 5px;
                                opacity: 0;
                                pointer-events: none;
                                transform: translateY(30px);
                                transition: all 0.8s ease;
                                box-shadow: 0px 0px 5px #a3a2a2;
                                z-index:100;
                                &>li{
                                    padding : 8px 15px;
                                    &:hover{
                                        background-color: $color-cam;
                                    }
                                    &>a{
                                        text-decoration: none;
                                        color: #333;
                                        font-size: 14px;
                                        font-family: $font-pop;
                                    }
                                }

                            
                            }
                            

                        }

                    }
    
                }
            }
            .header__right {
                width: 300px;
                display: flex;

                justify-content: space-between;
                align-items: center;
                img {
                    width: 10%;
                    margin-left: 102px;
                    margin-right: 5px;
                }
                p {
                    margin-right: -13px;
                    margin-bottom: 0;
                    color: rgb(0, 0, 0);
                }
                i {
                    color: #000;
                    cursor: pointer;
                    font-size: 22px;
                    padding: 0 5px;
                }
            }
        }

    }
}
/* End Wrapper*/

/*Begin Section About*/
.create{
    width: 100%;
    margin: auto;
    height: auto;
}
// bắt đầu dựng content
#create{
    width: 100%;
    height: auto;
    .content__banner{
        width: 100%;
        height: 175px;
        img{
            width: 100%;
            height: 175px;
            object-fit: cover;
            object-position: 0% 2%;
            position: absolute;
            
        }
        .banner--underground{
            width: 100%;
            height: 175px;
            background-color: black;
            position: absolute;
            opacity: 0.2;
        }
        .banner--title{
            width: 90%;
            margin: auto;
            height: 50%;
            top:25%;
            position: relative;
            text-align: center;
            h1{
                color: white;
                font-size: 36px;
                font-family: $font-playfair;
                font-weight: 500;
                text-transform: uppercase;
                padding-bottom: 15px;
                letter-spacing: 4px;
            }
            a,span{
                text-decoration: none;
                color: $color-white;
                font-size: 16px ;
                font-family: $font-pop;
                font-style: normal;
            }

            a:hover{
                color: $color-cam;
            }
        }
    }
}
.content-main{
    margin-top: -30px;
    width: 90%;
    max-width: 1530px;
    .form-login{
        width: 40%;
        margin: auto;
        margin-top: 60px;
        h2{
            font-size: 27px;
            text-align: center;
            font-family: $font-playfair-noSan;
            color: $color-cam;
            font-weight: 600;
            margin-bottom: 15px;
        }
        .form-group{
            padding: 30px;
            text-align: center;
            a{
                color: #333;
                p{
                    font-size: 16px;
                    font-family: $font-pop-noSan;
    
                }
                &.notline:hover{
                    color: $color-cam;
                    text-decoration: none;
                }
            }

            .form-control{
                padding: 25px 15px;
                border-radius: 30px;
                margin-bottom: 20px;
                line-height: 1.42;
                font-size: 18px;
            }
            .mes{
                position: relative;
            }
            .message{
                
                height: 250px;
            }
            .placeholder{
                position: absolute;
                top: 15px;
                left: 19px;
                font-size: 16.3333px;
                font-family: 'Poppins';
                color: #6c6969;
            }
        }
        .btn{
            margin-top: 10px;
            border-radius: 30px;
            margin-bottom: 30px;
            &:hover{
                background-color: $color-cam;
                color:$color-white ;
            }
        }
        .line{
            text-decoration: underline;
            &:hover{
                color: $color-cam;
            }

        }
    }
}
/*End Section About*/

/*Begin Footer*/
.wrapper7{
    width: 100%;
    position: relative;
    height: 536px;
    margin-top: 20px;
    .footer{
        width: 100%;
        height: 536px;
        #note{
            position: absolute;
            width: 100%;
            height: 536px;
            object-fit: cover;
            object-position: 0% 63%;
        }
        
        .opacity{
            position: absolute;
            width: 100%;
            height: 536px;
            background-color: #373737;
            opacity: 0.3;
        }
        .footer__logo{
            position: relative;
            width: 10%;
            margin: auto;
            top:85px;
        }
        .footer--slogan{
            position:relative;
            text-align: center;
            top: 125px;
            color: white;
            font-family: 'Playfair Display', serif;
            h2{
                font-size: 24px;
            }
        }
        .search{
            position: relative;
            top:170px;
            width: 45%;
            background-color: white;
            margin:auto;
            padding: 5px;
            border-radius: 30px;
            display: flex;
            .input{
                position: relative;
                width: 450px;
                left: 15px;
                border:0;
                padding: 12px 15px;
            }
            .input{
                border-color: white;
            }
            .input:focus{
                border: none;
            }
            .submit{
                position: relative;
                width: 183px; 
                left: 41px;
                border-radius: 30px;
                background-color: #fc846b;
                color: white;
                border: 0;
                font-weight: 600;
            }
            .submit:hover{
                background-color: black;
                color:#fc846b;
                transition: transform .5s;
            }


        }
        .bylogin{
            position: relative;
            width: 90%;
            margin: auto;
            top:200px;
            text-align: center;
            
            i{
                display: inline-block;
                color: #fc846b;
                width: 60px;
                height: 60px;
                font-size: 25px;
                text-align: center;
                line-height: 60px;
                cursor: pointer;
            }
            
        }
        .footer-contact{
            position: relative;
            width: 90%;
            margin: auto;
            top:250px;
            text-align: center;
            li{
                color: white;
                display: inline-block;
                width: auto;
                height: auto;
                padding: 5px 15px;
                font-family: 'Poppins', sans-serif;
                font-size: 17px;
                .note2{
                    border-right: 1px;
                    border-left: 1px;
                    border-color: white;
                    border-style: solid;
                }

            }
        }
    }

}
/*End Footer*/